<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Mapbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/872a12cba7.js" crossorigin="anonymous"></script>

    <!--Noto Sans font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- mapbox -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js'></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Turf.js 추가 -->
    <script src='https://unpkg.com/@turf/turf'></script>

    <!--  proj4  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.11.0/proj4.js"></script>

    <!--Spectrum-->
    <script src="https://bgrins.github.io/spectrum/spectrum.js"></script>
    <link rel='stylesheet' href='/css/spectrum.css'/>
    <script src="../../../static/js/main.js"></script>

</head>
<body>
    <header style="height: 45px;border-bottom: 1px solid #e6e6e6;">
        <div class="top-nav">
            <button class='top-btn'  data-bs-toggle='modal' data-bs-target='#loadFile' title="불러오기">
                <i class="fa-solid fa-floppy-disk"></i>불러오기
            </button>
<!--            <div class="custom-select">-->
<!--                <div class="select-display">이전 파일 불러오기</div>-->
<!--                <div class="options">-->
<!--                    <a href="#" th:each="shp : ${shpList}" th:text="${shp.shpName}" th:onclick="'getShpData(' + ${shp.shpId} + ')'"></a>-->
<!--                </div>-->
<!--            </div>-->
            <button class="top-btn" onclick="changeEditMode()"><i class="fa-solid fa-pencil"></i><p id="btn-status">보기 모드</p></button>
            <button class="top-btn" onclick="checkDistance();"><i class="fa-solid fa-ruler-horizontal"></i>거리측정</button>
            <button class="top-btn" onclick="openLayerOptionWindow();"><i class="fas fa-filter"></i>기본 레이어 설정</button>
            <div id="type-select-box">
                <select name="typeSelect" id="type-select">
                    <option value="point">노드</option>
                    <option value="lineString">링크</option>
                    <option value="station">정류소</option>
                </select>
            </div>
            <div id="top-tool-box">
                <div id="link-tools">
                    <button class="top-btn" onclick="generatePoints(5);" data-bs-placement="bottom" data-bs-toggle="tooltip" aria-label="5M" data-bs-original-title="5M 간격 점생성">5M</button>
                    <button class="top-btn" onclick="generatePoints(10);" data-bs-placement="bottom" data-bs-toggle="tooltip" aria-label="10M" data-bs-original-title="10M 간격 점생성">10M</button>
                    <button class="top-btn" onclick="splitLine();" data-bs-placement="bottom" data-bs-toggle="tooltip" aria-label="선 분할" data-bs-original-title="선 분할">선 분할</button>
                </div>
                <div id="point-tools">

                </div>
            </div>
<!--            <button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_line top-btn mapbox-ctrl-btn" title="LineString tool (l)"></button>-->
<!--            <button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_polygon top-btn mapbox-ctrl-btn" title="Polygon tool (p)"></button>-->
<!--            <button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_point top-btn mapbox-ctrl-btn" title="Marker tool (m)"></button>-->
<!--            <button class="mapbox-gl-draw_ctrl-draw-btn mapbox-gl-draw_trash top-btn mapbox-ctrl-btn" title="Delete"></button>-->
        </div>
    </header>

    <div id="map" style="width: calc(100% - 45px); height: calc(100vh - 45px)"></div>

<!--    <div id="mode-change-btn" onclick="toggleWhiteMode()"><i class="fas fa-solid fa-moon" id="mdicon"></i></div>-->
    <div class="tab-menu">
        <div class="tab-links active" onclick="openTab(this, 'tab1')" data-bs-placement="left" data-bs-toggle="tooltip" title="속성">
            <i class="fa-solid fa-list"></i>
        </div>

        <div class="tab-links " onclick="openTab(this, 'tab2')" data-bs-placement="left" data-bs-toggle="tooltip" title="SHP">
            <i class="fa-solid fa-layer-group"></i>
        </div>

        <div class="tab-links" onclick="openTab(this, 'tab3')" data-bs-placement="left" data-bs-toggle="tooltip" title="도구">
            <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
    </div>

    <div id="tab1" class="tab" style="display: block;">
        <div class="tab-title padding-10 basic-font" style="border-radius: 0;">
            <h5>속성</h5>
        </div>
        <div class="attr-tab">
            <ul class="attr_tab_bar">
                <li class="active" onclick="openAttrTab(this, 'node_list')">노드</li>
                <li onclick="openAttrTab(this, 'link_list')">링크</li>
                <li onclick="openAttrTab(this, 'station_list')">정류소</li>
            </ul>
        </div>

        <!-- 속성 탭 나누기 -->
        <div class="attr-list basic-font" id="node_list" style=""></div>
        <div class="attr-list basic-font" id="link_list" style="display: none;"></div>
        <div class="attr-list basic-font" id="station_list" style="display: none;"></div>
<!--        <div class="attr-list basic-font" id="station_list" style="display: none;"></div>-->
    </div>

    <div id="tab2" class="tab">
        <div class="tab-title padding-10 basic-font" style="border-radius: 0;">
            <h5>SHP</h5>
            <h5>저장</h5>
        </div>
        <div id="all-check" onclick="shpListAllChecked()">전체 선택</div>
        <div class="layer-file-list basic-font">
            <span class="empty-layer">
                불러온 SHP 파일이 없습니다.
                <br><br>
                좌측 상단의 SHP 업로드를
                <br><br>
                진행해주세요.
            </span>
        </div>
        <div class="paging-container sp-cf"></div>
    </div>

    <div id="tab3" class="tab">
        <div class="tab-title padding-10 basic-font" style="border-radius: 0;">
            <h5>도구</h5>
        </div>

        <div class="colors-plan padding-10 polygon-style" style="display: none">
            <div class="colors-item">
                <label class="select-label" data-bs-placement="bottom" data-bs-toggle="tooltip" title="폴리곤"><i class="fa-solid fa-draw-polygon"></i></label>
                <div data-bs-placement="bottom" data-bs-toggle="tooltip" title="폴리곤 내부 색상">
                    <input type="text" id="polygon-color" onchange="changePolygonColor()" >
                </div>
                <div class="polygon-line" data-bs-placement="bottom" data-bs-toggle="tooltip" title="폴리곤 선 색상">
                    <input type="text" id="polylineColor" onchange="changePolyLineColor()">
                </div>
                <input type="number" id="poly-line-width" onchange="changePolyLineThickness()" value="2.5" data-bs-placement="bottom" data-bs-toggle="tooltip" title="선 굵기">
            </div>
        </div>
        <div class="colors-plan padding-10 node-style" style="display: none">
            <div class="colors-item">
                <label class="select-label" data-bs-placement="bottom" data-bs-toggle="tooltip" title="노드"><i class="fa-brands fa-hashnode"></i></label>
                <div data-bs-placement="bottom" data-bs-toggle="tooltip" title="노드 색상">
                    <input type="text" id="node-color" onchange="changeNodeColor()" >
                </div>
            </div>
        </div>
        <div class="colors-plan padding-10 link-style" style="display: none">
            <div class="colors-item">
                <label class="select-label" data-bs-placement="bottom" data-bs-toggle="tooltip" title="링크"><i class="fa-solid fa-share-nodes"></i></label>
                <div data-bs-placement="bottom" data-bs-toggle="tooltip" title="링크 색상">
                    <input type="text" id="link-color" onchange="changeLinkColor()">
                </div>
            </div>
        </div>
    </div>



    <!--속성 창-->
    <div class="property-window" style="left: -500px">
        <div class="tab-title padding-10 basic-font">
            <h5>속성</h5>
            <i class="fas fa-times margin-0" onclick='closePropertyWindow()'></i>
        </div>

<!--        <div id="property-tools" style="display: flex;padding: 0 5px;">-->
<!--            <button class="top-btn" onclick="generatePoints(5);"-->
<!--                    data-bs-placement="top"-->
<!--                    data-bs-toggle="tooltip"-->
<!--                    aria-label="5M"-->
<!--                    data-bs-original-title="5M 간격 점생성">5M</button>-->
<!--            <button class="top-btn" onclick="generatePoints(10);"-->
<!--                    data-bs-placement="top"-->
<!--                    data-bs-toggle="tooltip"-->
<!--                    aria-label="10M"-->
<!--                    data-bs-original-title="10M 간격 점생성">10M</button>-->
<!--        </div>-->

        <div class="property-list padding-10">
            <table>
            </table>
        </div>
    </div>

    <!--shp 속성창-->
    <div class="shp-property-window">
        <div class="tab-title padding-10 basic-font">
            <h5>SHP 속성</h5>
            <i class="fas fa-times margin-0" onclick='closeShpPropertyWindow()'></i>
        </div>
        <div class="property-list padding-10">
            <table>
            </table>
        </div>
    </div>

    <div class="layer-option-window" style="left: -500px"> <!--레이어 옵션 창-->
        <div class="tab-title padding-10 basic-font">
            <h5>레이어 설정</h5>
            <i class="fas fa-times margin-0" onclick='closeLayerOptionWindow()'></i>
        </div>

        <div class="layer-setting padding-10">
            <table>
                <thead>
                    <tr>
                        <th>표시여부</th>
                        <th>구분</th>
                        <th>레벨</th>
                        <th>라벨</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="nodeShowFlag" class="show-layer" type="checkbox" value="node" checked="">
                        </td>
                        <td>노드</td>
                        <td>
                            <select id="nodeShowLvl" class="select-box-zoom" value="14">
                                <option value="">선택</option>
                                <option value="14" selected="">14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td>
                            <select id="nodeShowLabel" class="select-label">
                                <option value="emptyLabel">없음</option>
                                <option value="nodeId">노드 ID</option>
                                <option value="lat">위도</option>
                                <option value="lng">경도</option>
                                <option value="crossroadNm">교차로명</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="linkShowFlag" class="show-layer" type="checkbox" value="link" checked="">
                        </td>
                        <td>링크</td>
                        <td>
                            <select id="linkShowLvl" class="select-box-zoom" value="14">
                                <option value="">선택</option>
                                <option value="14" selected="">14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td>
                            <select id="linkShowLabel" class="select-label">
                                <option value="emptyLabel">없음</option>
                                <option value="linkId">링크 ID</option>
                                <option value="linkDist">거리</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="loading-window">
        <div class="loading-logo" style="color:white">loading..</div>
        <div id="loading-bar"></div>
    </div>

    <div class="modal" id="newpolygon">
        <div th:insert="~{html/modal/modal_newPolygon.html::newpolygon}"></div>
    </div>

    <div class="modal" id="modal_attr">
        <div th:insert="~{html/modal/modal_attr.html::attr}"></div>
    </div>

    <div class="modal" id="loadFile">
        <div th:insert="~{html/modal/modal_loadfile.html::loadfile}"></div>
    </div>

    <div class="modal" id="pluslayer">
        <div th:insert="~{html/modal/modal_layer.html::pluslayer}"></div>
    </div>

    <div id="toast_popup">
        <p id="toast_text"></p>
    </div>
</body>
<script th:inline="javascript">
    mapboxgl.accessToken = /*[[${mapboxAccessToken}]]*/ '';

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    //정류소
    const STATION_ICON_ID = 'station-icon';
    const STATION_FEATURE_ID = 'station-feature';
    const STATION_LAYER_ID = 'station-layer';
    const LINK_NODE_STATION_SOURCE_ID = 'link-node-station-source';

    //링크
    const LINK_FEATURE_ID = 'link-feature';
    const LINK_LAYER_ID = 'link-layer';
    const LINK_LABEL_LAYER_ID = 'link-label-layer';

    //노드
    const NODE_ICON_ID = 'node-icon';
    const NODE_FEATURE_ID = 'node-feature';
    const NODE_LAYER_ID = 'node-layer';

    // 링크 미터당 점 레이어
    const METER_DOT_LAYER_ID = 'link-meter';
    const METER_DOT_SOURCE_ID = 'link-source';
    const METER_DOT_FEATURE_ID = 'link-feature';

    var fileNm;
    var dataArr = [];
    // 읽어온 shp 데이터 임시 저장소
    var loadData;
    var newProperty = [];
    var loadProperty = [];
    var nodeDataArr = [];
    var linkDataArr = [];
    var drawArr = []
    var fileNmList = [];
    var selectedShp;
    var polygonColor = '#1aa3ff'; // 폴리곤 내부 색상
    var polylineColor = '#020202'; // 폴리곤 선 색상
    var nodeColor = '#007dd2'; // 노드 색상
    var linkColor = '#007dd2'; // 링크 색상
    var polylineWidth = 2.5;
    var tabmenu = document.getElementById("tab");
    var tabcontent = document.getElementsByClassName("tab");
    var tablinks = document.getElementsByClassName("tab-links");
    var propertyArr = []
    let draw= new MapboxDraw({
        styles: [
            // 선의 외곽 스타일
            {
                "id": "gl-draw-line-outer",
                "type": "line",
                "filter": ["all", ["==", "$type", "LineString"], ["!=", "meta", "midpoint"]],
                "layout": {
                    "line-cap": "round",
                    "line-join": "round"
                },
                "paint": {
                    "line-color": "#cccccc",
                    "line-width": 6
                }
            },
            // 선의 내부 스타일
            {
                "id": "gl-draw-line-inner",
                "type": "line",
                "filter": ["all", ["==", "$type", "LineString"], ["!=", "meta", "midpoint"]],
                "layout": {
                    "line-cap": "round",
                    "line-join": "round"
                },
                "paint": {
                    "line-color": "#000000",
                    "line-width": 2,
                    "line-dasharray": [2, 2] // 점선 스타일
                }
            },
            // 활성화된 점 스타일
            {
                "id": "gl-draw-point-active",
                "type": "circle",
                "filter": ["all", ["==", "$type", "Point"], ["!=", "meta", "midpoint"], ["==", "active", "true"]],
                "paint": {
                    "circle-radius": 7, // 선택 시 점 크기 확대
                    "circle-color": "#000000", // 선택 시 색상 변경
                    "circle-stroke-width": 2, // 외곽선 두께 추가
                    "circle-stroke-color": "#cccccc" // 외곽선 색상 추가
                }
            },
            // 일반 점 스타일
            {
                "id": "gl-draw-point",
                "type": "circle",
                "filter": ["all", ["==", "$type", "Point"], ["!=", "meta", "midpoint"], ["==", "active", "false"]],
                "paint": {
                    "circle-radius": 5,
                    "circle-color": "#000000"
                }
            }
        ]
    });

    let hoveredPolygonId = null;
    let clickedPolygonId = null;

    const mapSelect = document.getElementById('map-style');

    // const uploadContainer = document.getElementById('frmFile');
    const fileInput = document.getElementById('fileInput');
    let map;

    // 저장된 파일 고르는 함수
    $(document).ready(function() {
        // 맵박스 초기화
        initBasicTileSet();

        $("#polygon-color").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            togglePaletteMoreText: '더보기',
            togglePaletteLessText: '줄이기',
            color : polygonColor,
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ]
        });
        $("#polylineColor").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            togglePaletteMoreText: '더보기',
            togglePaletteLessText: '줄이기',
            color : polylineColor,
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ]
        });

        $("#node-color").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            togglePaletteMoreText: '더보기',
            togglePaletteLessText: '줄이기',
            color : nodeColor,
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ]
        });
        $("#link-color").spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            togglePaletteMoreText: '더보기',
            togglePaletteLessText: '줄이기',
            color : linkColor,
            palette: [
                ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
            ]
        });

        $('.custom-select').click( function() {
            $('.options').fadeToggle();
        })
    });

</script>
<script src="/js/main.js"></script>
<script src="/js/layer.js"></script>
<script src="/js/property.js"></script>
<script src="/js/polygon.js"></script>
<script src="/js/node.js"></script>
<script src="/js/link.js"></script>
</html>