<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>loadfile</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div>
        <form id="frmFile" action="/api/uploadShapeFiles" method="post" enctype="multipart/form-data">
            <label for="shpData" id="lbShpData">
                <div id="file_intro">
                    <h4>파일을 드래그해서<br>올려주세요.</h4>
                    <p class="comment">
                        .shp, .shx, .dbf 는 필수파일입니다.
                        <br>
                        최소 위 3개의 파일을 같이 올려주세요.
                    </p>
                </div>
                <input name="shpData" id="shpData" type="file" multiple  style="display: none;">
            </label>
            <div class="drag-data"></div>
        </form>
        <div class="select-shape-area">
            <span class="radio-label">업로드할 파일의 형태를 선택을 해주세요</span>
            <div class="select-shape-btn">
                <button class="shape-btn" id="shpType_station" onclick="clickSelectBtn(this)" style="margin-left: 0; border-radius: 10px 0 0 10px;">정류소</button>
                <button class="shape-btn" id="shpType_node" onclick="clickSelectBtn(this)" >노드</button>
                <button class="shape-btn" id="shpType_link" onclick="clickSelectBtn(this)" style="border-radius: 0 10px 10px 0;">링크</button>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-send" onclick="sendFiles(true)">전송</button>
    </div>
</div>
</body>
<script th:inline="javascript">
    var fileName = /*[[${fileName}]]*/ "";
    var jsonData = /*[[${jsonData}]]*/ {};

    const uploadContainer = document.getElementById('frmFile');

    $(document).ready(function() {
        uploadContainer.addEventListener('dragover', handleDragOver);
        uploadContainer.addEventListener('dragleave', handleDragLeave);
        uploadContainer.addEventListener('drop', handleDrop);

        $('.custom-select').click(function() {
            $('.options').fadeToggle();
        })

        if (jsonData != null) {
            parent.dataArr[jsonData.fileName] = jsonData
            parent.loadData = jsonData
            parent.fileNm = fileName
            parent.finishLoading();
            parent.readProperties()
            jsonData = null

            parent.toastOn("ShapeFile 을 읽어 왔습니다.")
        }
    });
    function clickSelectBtn(e) {
        $('.shape-btn').removeClass('selected2')
        $(e).addClass('selected2')
    }
    function handleDragOver(e) {
        e.preventDefault();
        uploadContainer.classList.add('drag-over');
    }

    function handleDragLeave(e) {
        e.preventDefault();
        uploadContainer.classList.remove('drag-over');
    }

    function handleDrop(e) {
        e.preventDefault();
        uploadContainer.classList.remove('drag-over');

        const files = e.dataTransfer.files;
        $('#file_intro h4').hide()
        $('.comment').hide()
        $('#file_intro').css('align-items', 'flex-start')

        if (checkFile(files)) {
            if (files.length > 0) { // 드래그 앤 드랍 시 html 생성
                for (i = 0; i < files.length ; i++) {
                    fileName = files[i].name
                    var html = ""
                    html = "<div class='dropfile basic-font'><i class=\"fas fa-times\" onclick='deleteFileList(this)'></i><p>"+fileName+"</p></div>"
                    $(".drag-data").append(html)
                    $("#shpData").prop("files", e.dataTransfer.files)
                }
                $('.drag-data').css('display', 'block')
            }
        }
    }

    function sendFiles(isCheck) {
        // hideModal('loadFile')

        if ($('.shape-btn.selected2').attr('id') === undefined) {
            parent.toastOn("올리는 ShapeFile 의 타입을 선택해주세요.");
            return;
        }

        var frmFile = $("#frmFile");
        // 파일 선택 input 요소
        var fileInput = frmFile.find("input[name='shpData']")[0];

        // 선택한 파일 가져오기
        var files = fileInput.files;
        var formData = new FormData();
        var hasShp = false
        var hasShx = false
        var hasDdf = false

        for (var i = 0; i < files.length; i++) {
            let fileName = files[i].name.split(".")[0]
            if (isCheck) {
                if (parent.checkFile(fileName)) {
                    // TODO 중복 파일 처리
                    // parent.toastOn("이미 해당 파일 테이블이 존재합니다.");
                    // 이미 파일이 존재할 경우, 아래 모달을 띄움
                    parent.hideModal('loadFile');
                    parent.$("#modal_shp").modal('show');

                    return
                }
            }

            if (files[i].name.indexOf('.shp') > -1) { // .shp 파일 여부 검사
                hasShp = true
            } else if (files[i].name.indexOf('.shx') > -1) { // .shx 파일 여부 검사
                hasShx = true
            } else if (files[i].name.indexOf('.dbf') > -1) { // .dbf 파일 여부 검사
                hasDdf = true
            }
        }

        if (hasShp === true && hasShx === true && hasDdf === true) {
            for (var i = 0; i < files.length; i++) {
                formData.append('shpData', files[i]);
            }
        } else {
            alert ("필수 파일을 확인해주세요.")
        }

        $.ajax({
            url: '/api/uploadShapeFiles',  // 서버 엔드포인트
            type: 'POST',
            data: formData,
            processData: false,  // 필수: FormData를 query string으로 변환하지 않음
            contentType: false,  // 필수: 파일 전송에는 multipart/form-data 형식이 필요
            beforeSend: function( ) {
                parent.hideModal('loadFile');
                parent.viewLoading()
            },
            complete: function( ) {
                parent.shpType = $('.shape-btn.selected2').attr('id').replace("shpType_", "");
            },
            success: function(response) {
                if (response.error) {
                    alert(response.error);
                } else {
                    location.href = "/popup/uploadPage";
                }
            },
            error: function (error) {
                console.error('Error uploading file:', error);
                parent.finishLoading();
            }
        });
    }

    function deleteFileList(e) { // 업로드 및 드래그 앤 드랍 파일 삭제 하는 함수
        e.parentElement.remove()
        // 파일 선택 input 요소 비활성화
        const dataTransfer = new DataTransfer(); // 빈 파일 생성
        var files = $('#shpData')[0].files
        var fileArray = Array.from(files)
        for (i = 0; i < fileArray.length; i++) { // 선택한 파일 삭제 진행
            if (e.parentElement.textContent === fileArray[i].name) {
                fileArray.splice(i, 1)
            }
        }
        for (i = 0; i < fileArray.length; i++) { // 삭제된 파일 제외하고 빈 파일에 집어 넣기
            dataTransfer.items.add(fileArray[i])
        }

        $('#shpData')[0].files = dataTransfer.files; // input 내용을 만들어진 파일 내용과 동일하게 만든다

        if ($('#shpData')[0].files.length === 0) {
            $('#file_intro h4').show()
            $('.comment').show()
            $('.drag-data').css('display', 'none')
            $('#file_intro').css('align-items', 'center')
            $('#shpData').unbind('click')
            $("#lbShpData").unbind('click')
        } else {
            // 파일 선택 input 요소 비활성화
            $('#shpData').on('click', function(event){
                event.preventDefault();
            });
            $("#lbShpData").on('click', function(event){
                event.preventDefault();
            });
        }
    }




    document.getElementById('shpData').addEventListener('change', function(event) { // 업로드 된 파일들 html로 표출하는 함수
        var files = $('#shpData')[0].files
        $('#file_intro h4').hide()
        $('.comment').hide()
        $('#file_intro').css('align-items', 'flex-start')

        if (checkFile(files)) {
            if (files.length > 0) { // 드래그 앤 드랍 시 html 생성
                for (i = 0; i < files.length ; i++) {
                    fileName = files[i].name
                    var html = ""
                    html = "<div class='dropfile basic-font'><i class=\"fas fa-times\" onclick='deleteFileList(this)'></i><p>"+fileName+"</p></div>"
                    $("#file_intro").append(html)
                    $("#shpData").prop("files", files)
                }
            }
        }
    });

    function resetFrmFile() { // 파일 업로드 모달을 초기 화면으로 되돌리는 함수
        const dataTransfer = new DataTransfer();
        $('#shpData')[0].files = dataTransfer.files
        $('#file_intro h4').show()
        $('.comment').show()
        $('.drag-data').css('display', 'none')
        $('#file_intro').css('align-items', 'center')
        $('.dropfile').remove()
    }

    function checkFile(files) {
        var hasShpIdx = 0; // shp 파일 개수 검사
        var hasShxIdx = 0; // shx 파일 개수 검사
        var hasDdfIdx = 0; // ddf 파일 개수 검사

        if (files.length > 8) {
            alert('파일 개수 7개로 제한되어 있습니다. 다시 올려주세요')
            resetFrmFile()
        } else {
            for (var i = 0; i < files.length; i++) {
                if (files[i].name.indexOf('.shp') > -1) { // .shp 개수 여부 검사
                    hasShpIdx += 1;
                } else if (files[i].name.indexOf('.shx') > -1) { // .shx 개수 여부 검사
                    hasShxIdx += 1;
                } else if (files[i].name.indexOf('.dbf') > -1) { // .dbf 개수 여부 검사
                    hasDdfIdx += 1;
                }
            }

            if (hasShpIdx > 1) {
                alert('.shp 파일 두개 이상 올라갔습니다. 파일을 다시 올려주세요')
                resetFrmFile()
                return false;
            } else if (hasShxIdx > 1) {
                alert('Shx 파일 두개 이상 올라갔습니다. 파일을 다시 올려주세요')
                resetFrmFile()
                return false;
            } else if (hasDdfIdx > 1) {
                alert('Ddf 파일 두개 이상 올라갔습니다. 파일을 다시 올려주세요')
                resetFrmFile()
                return false;
            }
            return true;
        }

    }
    function cancelFile() {
        $('.shape-btn').removeClass('selected2')
        resetFrmFile()
        $('#shpData').unbind('click')
        $("#lbShpData").unbind('click')
    }
</script>
</html>