<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transit.web_gis.mapper.ShapeMapper">
    <select id="selectShpList" resultType="com.transit.web_gis.vo.ShpVo" parameterType="com.transit.web_gis.vo.ShpVo">
        SELECT table_name
        FROM all_tables
        WHERE owner = 'TRANSIT'
    </select>

    <select id="getShpColumnNames" resultType="String" parameterType="String">
        SELECT COLUMN_NAME
        FROM ALL_TAB_COLUMNS
        WHERE TABLE_NAME = '${fileName}'
        AND OWNER = 'TRANSIT'
    </select>

    <select id="getDefaultLabel" resultType="map" parameterType="String">
        SELECT DISTINCT LABEL_COLUMN
        FROM  TRANSIT.${fileName}
    </select>

    <select id="checkShpType" resultType="map" parameterType="map">
        SELECT DISTINCT SHP_TYPE
        FROM TRANSIT.${fileName}
    </select>

    <select id="getNodeShpData" resultType="map" parameterType="map">
        SELECT *
        FROM TRANSIT.${fileName}
        WHERE 1 = 1
          AND LNG <![CDATA[<=]]> #{sc_NE_LNG}
          AND LAT <![CDATA[<=]]> #{sc_NE_LAT}
          AND LNG <![CDATA[>=]]> #{sc_SW_LNG}
          AND LAT <![CDATA[>=]]> #{sc_SW_LAT}
    </select>

    <select id="getLinkShpData" resultType="map" parameterType="map">
        SELECT *
        FROM TRANSIT.${fileName}
        WHERE 1 = 1
        AND (
            (F_LNG <![CDATA[<=]]> #{sc_NE_LNG} AND F_LAT <![CDATA[<=]]> #{sc_NE_LAT} AND F_LNG <![CDATA[>=]]> #{sc_SW_LNG} AND F_LAT <![CDATA[>=]]> #{sc_SW_LAT})
            OR
            (T_LNG <![CDATA[<=]]> #{sc_NE_LNG} AND T_LAT <![CDATA[<=]]> #{sc_NE_LAT} AND T_LNG <![CDATA[>=]]> #{sc_SW_LNG} AND T_LAT <![CDATA[>=]]> #{sc_SW_LAT})
        )
    </select>

    <select id="getPolygonShpData" resultType="map" parameterType="map">
        SELECT *
        FROM TRANSIT.${fileName}
        WHERE 1 = 1
    </select>

    <select id="checkHasShpFile" resultType="int" parameterType="map">
        SELECT count(*) as hasCount
        FROM all_tables
        WHERE owner = 'TRANSIT'
        AND table_name = #{fileName}
    </select>

    <update id="updateLabel" parameterType="map">
        UPDATE TRANSIT.${fileName}
        SET LABEL_COLUMN = #{labelColumn}
    </update>

    <update id="updateNodeStationShpData" parameterType="map">
        UPDATE TRANSIT.${fileName}
        SET LAT = #{lat},
            LNG = #{lng}
        WHERE ${fileName}_ID = #{fileFeatureId}
    </update>

    <update id="updateLinkShpData" parameterType="map">
        UPDATE TRANSIT.${fileName}
        SET    GEOMETRY = #{geometry}
        WHERE ${fileName}_ID = #{fileFeatureId}
    </update>

    <update id="dropShpTable" parameterType="map">
        DROP TABLE ${fileName}
    </update>

    <update id="updateProperties" parameterType="map">
        UPDATE TRANSIT.${FILE_NAME}
        <set>
            <foreach collection="properties" item="value" index="key" separator=",">
                "${key}" = #{value}
            </foreach>
        </set>
        WHERE ${FILE_NAME}_ID = #{featureId}
    </update>

    <delete id="deleteShpFeatureData" parameterType="map">
        DELETE FROM TRANSIT.${fileName}
        WHERE ${fileName}_ID = #{featureId}
    </delete>

    <insert id="insertShpTable" parameterType="map">
        INSERT INTO TRANSIT.${fileName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="properties" item="value" index="key" separator=",">
                ${key}
            </foreach>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="properties" item="value" index="key" separator=",">
                <choose>
                    <when test="value instanceof java.lang.Double">
                        #{value, jdbcType=NUMERIC}
                    </when>
                    <otherwise>
                        #{value}
                    </otherwise>
                </choose>
            </foreach>
        </trim>
    </insert>
</mapper>