<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transit.web_gis.mapper.ShapeMapper">
    <select id="selectShpList" resultType="com.transit.web_gis.vo.ShpVo" parameterType="com.transit.web_gis.vo.ShpVo">
        SELECT table_name
        FROM all_tables
        WHERE owner = 'TRANSIT'
    </select>

    <select id="getShpColumnNames" resultType="map" parameterType="String">
        SELECT *
        FROM  TRANSIT.${fileName}
        WHERE 1=1
        AND rownum <![CDATA[<=]]> 1
    </select>

    <select id="checkShpType" resultType="map" parameterType="map">
        SELECT DISTINCT SHP_TYPE
        FROM TRANSIT.${fileName}
    </select>

    <select id="getNodeShpData" resultType="map" parameterType="map">
        SELECT *
        FROM TRANSIT.${fileName}
        WHERE 1 = 1
          AND LNG <![CDATA[<=]]> #{sc_NE_LNG}
          AND LAT <![CDATA[<=]]> #{sc_NE_LAT}
          AND LNG <![CDATA[>=]]> #{sc_SW_LNG}
          AND LAT <![CDATA[>=]]> #{sc_SW_LAT}
    </select>

    <select id="getLinkShpData" resultType="map" parameterType="map">
        SELECT *
        FROM TRANSIT.${fileName}
        WHERE 1 = 1
        AND (
            (F_LNG <![CDATA[<=]]> #{sc_NE_LNG} AND F_LAT <![CDATA[<=]]> #{sc_NE_LAT} AND F_LNG <![CDATA[>=]]> #{sc_SW_LNG} AND F_LAT <![CDATA[>=]]> #{sc_SW_LAT})
            OR
            (T_LNG <![CDATA[<=]]> #{sc_NE_LNG} AND T_LAT <![CDATA[<=]]> #{sc_NE_LAT} AND T_LNG <![CDATA[>=]]> #{sc_SW_LNG} AND T_LAT <![CDATA[>=]]> #{sc_SW_LAT})
        )
    </select>

    <update id="updateShpData">
        UPDATE TRANSIT.${fileName}
        SET

        WHERE
    </update>
</mapper>